* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #000;
}


.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 30px;
}

.logo span {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

nav {
    display: flex;
    gap: 40px;
}


.menu-left, .menu-right {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

.menu-left li, .menu-right li {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-nav {
    background: white;
    color: black;
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
       filter: blur(5px);
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 4.2rem;
    
    line-height: 1.1;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 20px;
}


.btn-main {
    background:#0066ff;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sub {
    font-size: 1rem;
   
}
.login-link {

  color: white;
  cursor: pointer;
}
