* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
     backdrop-filter: blur(10px);
}

.hero {
    position: relative;
    min-height: 100vh;
    background-image: url(bgb1.jpg); 
 backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    color: white;
}


.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.2)
    );
}


.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 100px 60px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 30px;
}


